{% extends "project_page_base.html" %}

{% block items %}
    <div class="padding-top">
        {% for file_name in file_names %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="badge pull-right custom-badge">
                        <a href="{{url_for('see_file_contents', project_name=project_name, commit_number=commit_name, file_name=file_name)}}"> See Source </a>
                    </span>
                    <h3 class="panel-title"> {{ file_name }} </h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock items %}