{% extends "profile_base.html"%}
{% block items %} 
    <div>
        <a href="{{url_for('create_new_project')}}" class="btn btn-success btn-lg"> Create New </a>
    </div>
    <div class="padding-top">
        {% for name, description in projects %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="badge pull-right custom-badge"><a href="{{url_for('remove_project', project_name=name)}}"> Remove </a></span>
                    <h3 class="panel-title"> <a href="{{url_for('project_files', project_name=name)}}"> {{ name }} </a> </h3>
                </div>
                <div class="panel-body">
                    {{ description }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock items %} 