{% extends "base.html" %}
{% block maincontent %}

    <div class="container">

        <div class="page-header">
            <h1> {{session['username']}}/{{ project_name }} </h1>
        </div>

        <div>
            {% if user_is_admin %}
                <a href="{{url_for('add_participant', project_name=project_name)}}" class="btn btn-success btn-lg"> Add Member </a>
                <a href="{{url_for('remove_participant', project_name=project_name)}}" class="btn btn-success btn-lg"> Remove Member </a>
            {% endif %}

            {% if user_can_make_changes %}
                <a href="{{url_for('make_commit', project_name=project_name)}}" class="btn btn-success btn-lg"> Make New Commit </a>
                <a href="{{url_for('create_new_project')}}" class="btn btn-success btn-lg"> Remove File </a>
            {% endif %}

            <a href="{{url_for('add_issues', project_name=project_name)}}" class="btn btn-success btn-lg"> Report Issue </a>
        </div>

        <ul class="nav nav-pills padding-top">
            {% if pagename == 'Files' %}
                <li class="active"><a href="{{url_for('project_files', project_name=project_name)}}"> Files </a></li>
                <li><a href="{{url_for('project_commits', project_name=project_name)}}"> Commits </a></li>
                <li><a href="{{url_for('project_issues', project_name=project_name)}}"> Issues </a></li>
            {% elif pagename == 'Commits' %}
                <li><a href="{{url_for('project_files', project_name=project_name)}}"> Files </a></li>
                <li class="active"><a href="{{url_for('project_commits', project_name=project_name)}}"> Commits </a></li>
                <li><a href="{{url_for('project_issues', project_name=project_name)}}"> Issues </a></li>
            {% else %}
                <li><a href="{{url_for('project_files', project_name=project_name)}}"> Files </a></li>
                <li><a href="{{url_for('project_commits', project_name=project_name)}}"> Commits </a></li>
                <li class="active"><a href="{{url_for('project_issues', project_name=project_name)}}"> Issues </a></li>
            {% endif %}

            {% block tabs %}
            {% endblock tabs %}

        </ul>

        <div class="padding-top">
            {% block items %} {% endblock items %}
        </div>

    </div>

{% endblock maincontent %}