{% extends "project_page_base.html" %}

{% block items %}
    <div class="padding-top">
        {% for commit in commits %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="badge pull-right custom-badge"><a href="{{url_for('see_commit', project_name=project_name, commit_number=commit)}}"> See Files </a></span>
                    <h3 class="panel-title"> {{ commit }} </h3>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock items %}